@import "tailwindcss";

@theme {
  --color-border: rgba(0, 0, 0, 0.1);
  --color-background: #ffffff;
  --color-foreground: #000000;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
